main div article img {
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
}

main div article a {
    display: inline-block;
    color: #ffdb70;
}

main div article a:hover {
    color: #ffbf00;
    text-decoration:underline;
}

main div article h2 {
    line-height: 220%;
}

main div article h3 {
    line-height: 200%;
}

main div article p {
    line-height: 200%;
}


.subscribe-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-bottom: 4px;
    padding-left: 45%;
    margin-top: 50px;
    margin-bottom: -60px;
}

.subscribe-item .subscribe-link {
    text-decoration: none;
    color: var(--light-gray-70);
    font-size: 24px;
}

.subscribe-item .subscribe-link:hover {
    text-decoration: none;
    color: var(--light-gray);
}

